In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to Data Frame\n")
print(result)

Series to Data Frame

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [4]:
print("\nExtracting One Column\n")
print(result['Emp'])

Extracting One Column

0       Uma
1      Siva
2    Sindhu
3      Ravi
Name: Emp, dtype: object

In [5]:
result['Age']=pd.Series([20,25,30,50])
print(result)

      Emp  ID  Age
0     Uma  10   20
1    Siva  20   25
2  Sindhu  30   30
3    Ravi  40   50

In [7]:
del result['Age']
print(result)

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [9]:
print("\nExtracting the Second Row\n")
print(result.loc[1])

Extracting the Second Row

Emp    Siva
ID       20
Name: 1, dtype: object

In [11]:
print("Slice Rows\n",result[1:3])

Slice Rows
       Emp  ID
1    Siva  20
2  Sindhu  30

In [14]:
a2=pd.DataFrame([['Anu',20],['Vinu',19]],columns=['Emp','ID'])
print("\n Adding new row values \n\n",pd.concat([result,a2]))

 Adding new row values

       Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40
0     Anu  20
1    Vinu  19