In [3]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Square root:\n",info.apply(np.sqrt))
print("\n Sum of each column:\n ",info.apply(np.sum,axis=0))
print("\n Sum of each rows:\n",info.apply(np.sum,axis=1))

 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column:
  S    12
R    36
dtype: int64

 Sum of each rows:
 0    12
1    12
2    12
3    12
dtype: int64

In [6]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [15]:
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],['Ajay',70]],columns=['EmpName','ID'])
print(d2)
d2['Age']=[20,18]
print("\n Adding new column:\n",d2)
d2['Sex']=['Male','Female']
print("Adding new colunm:\n",d2)

  EmpName  ID
0     Sai  88
1    Ajay  70

 Adding new column:
   EmpName  ID  Age
0     Sai  88   20
1    Ajay  70   18
Adding new colunm:
   EmpName  ID  Age     Sex
0     Sai  88   20    Male
1    Ajay  70   18  Female

In [17]:
#to add a new column
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],['Ajay',70]],columns=['EmpName','ID'])
print(d2)
a=d2.assign(Age=[20,18])
print("Adding a new column:\n",a)

  EmpName  ID
0     Sai  88
1    Ajay  70
Adding a new column:
   EmpName  ID  Age
0     Sai  88   20
1    Ajay  70   18

In [29]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col1','col2'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col2')
print(info3)
info4=info.sort_values(by='col1')
print(info4)

       col1      col2
3  1.225511 -0.751053
2  0.274409  0.817962
0 -1.847646  0.776281
4 -1.004699 -0.366656
1 -2.381126  1.754664
       col1      col2
0 -1.847646  0.776281
1 -2.381126  1.754664
2  0.274409  0.817962
3  1.225511 -0.751053
4 -1.004699 -0.366656
       col1      col2
3  1.225511 -0.751053
4 -1.004699 -0.366656
0 -1.847646  0.776281
2  0.274409  0.817962
1 -2.381126  1.754664
       col1      col2
1 -2.381126  1.754664
0 -1.847646  0.776281
4 -1.004699 -0.366656
2  0.274409  0.817962
3  1.225511 -0.751053

In [1]:
import pandas as pd
import numpy as np  
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Anu','Bala','Raya'],'sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Surya','Saran','Sam'],'sub':['sub2','sub4','sub3','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

   id  Name   sub
0   1   Sai  sub1
1   2   Anu  sub2
2   3  Bala  sub4
3   4  Raya  sub3
   id    Name   sub
0   1  Sanjay  sub2
1   2   Surya  sub4
2   3   Saran  sub3
3   4     Sam  sub5
   id Name_x sub_x  Name_y sub_y
0   1    Sai  sub1  Sanjay  sub2
1   2    Anu  sub2   Surya  sub4
2   3   Bala  sub4   Saran  sub3
3   4   Raya  sub3     Sam  sub5